# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.local

# Django
db.sqlite3
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# VS Code
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Logs
*.log