{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="icon" href="../assets/images/Icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/background.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
  </head>
  <body>
    <div class="bg-orbs">
    <div class="orb orb1"></div>
    <div class="orb orb2"></div>
    <div class="orb orb3"></div>
  </div>
    <div class="container">
      <div class="register-box">
        <h1>Register</h1>

        <div class="Parent">
          <label for="UserName">User Name</label>
          <input
            required
            id="UserName"
            type="text"
            name="UserName"
            placeholder="Ex: Ahmed"
          />

          <label for="userEmail">User Email</label>
          <input
            required
            id="userEmail"
            type="email"
            name="userEmail"
            placeholder="Ex: user123@gmail.com"
          />

          <label for="Password">Password</label>
          <input required id="Password" type="password" name="Password" />

          <label for="ConfirmPassword">Confirm Password</label>
          <input
            required
            id="ConfirmPassword"
            type="password"
            name="ConfirmPassword"
          />


         
          <div class="buttons">
              <button onclick="ResetForm()" type="button" class="reset">Reset</button>
              <button onclick="AddUser()" type="button">Submit</button>
          </div>

        <p class="login-link">
          Already have an account?
          <a href="/login/">Login</a>
        </p>
      </div>
    </div>

    <script src="../JS/register.js"></script>
  </body>
</html>
